<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game - Tennis Score Keeper</title>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="{{url_for('static', filename='class.js')}}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script type="text/javascript">
    initialize_game("{{game.id}}", "{{game.infodictionary['player1_name']}}", "{{game.infodictionary['player2_name']}}");
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1 id="idheader">ID = {{game.id}}</h1>
    <table>
      <tr>
        <th>Players</th>
        <th>Sets</th>
        <th>Games</th>
        <th>Points</th>
        {% if host %}
        <th>Add point</th>
        <th>Remove point</th>
        {% endif %}
      </tr>
      <tr>
        <td class="player1" data-type="name" id="p1name">{{game.infodictionary["player1_name"]}}</td>
        <td class="player1" data-type="sets">{{game.infodictionary["player1_score"][0]}}</td>
        <td class="player1" data-type="games">{{game.infodictionary["player1_score"][1]}}</td>
        <td class="player1" data-type="points">{{game.infodictionary["player1_score"][2]}}</td>
        {% if host %}
        <td><button class="player_add" data-player="1">+</button></td>
        <td><button class="player_remove" data-player="1">-</button></td>
        {% endif %}
      </tr>
      <tr>
        <td class="player2" data-type="name" id="p2name">{{game.infodictionary["player2_name"]}}</td>
        <td class="player2" data-type="sets">{{game.infodictionary["player2_score"][0]}}</td>
        <td class="player2" data-type="games">{{game.infodictionary["player2_score"][1]}}</td>
        <td class="player2" data-type="points">{{game.infodictionary["player2_score"][2]}}</td>
        {% if host %}
        <td><button class="player_add" data-player="2">+</button></td>
        <td><button class="player_remove"data-player="2">-</button></td>
        {% endif %}
      </tr>
    </table>
  </body>
</html>
